<div id="homeHead">
  <center>
  -stephanie barreyro- <br>
  <h1> '< / > ' </h1>
  web developer<br>
  <br> </center>
</div>
<div>
  <center>
    Hi, thanks for visiting! I'm Stephanie Barreyro, a creative developer with a great passion for user experience. I've worked on projects independently and on teams. Nothing excites me more than working on new challenging features to exercise my curious mind.
  </center>
<div>
