<br><br><br><center>
<%= image_tag("unicorn.gif") %>
<br><br><Br>
<div class="small-10 small-centered medium-10 medium-centered large-10 large-centered columns" id="errorPage">
  <center>Like a unicorn,<br> the page you are looking for does not exist.</center>
</div>