/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@font-face {
  font-family: "Nick";
  src: url('/assets/nick.otf') format("truetype");
}
@font-face {
  font-family: "Anne";
  src: url('/assets/anders.ttf') format("truetype");
}
@font-face {
  font-family: "Stream";
  src: url('/assets/stream.ttf') format("truetype");
}

body{
  color: white;
  background: linear-gradient(270deg, #4ECDC4, #53DAD0);
  }
#homeHead{
  font-family: "Stream";
  font-size: 20pt;
  color: #95a5a6;
}

#homeName{
  font-family: Anne;
  font-size: 50pt;
}

#nee{
  letter-spacing: 8px;
}

#sidediv{
  min-height: 100vh;
  background-color: white;
  max-width: 70px;
  min-width: 70px;
  position: fixed;
  overflow: hidden;
}

a {
  color:#95a5a6 !important;
  font-family: "Anne";
  font-size: 2vw;

  font-weight: 900;
}

#sidelinks1{
  word-wrap: break-word;
  width: 1pt;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 70px;
  min-height: 10vh;
  background-color: white;
  margin-top: 10px;
  padding-bottom: 12%;
  }

#sidelinks2{
  word-wrap: break-word;
  width: 1pt;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 70px;
  min-height: 45vh;
  background-color: white;
  }

#sidelinks3{
  word-wrap: break-word;
  width: 1pt;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 70px;
  min-height: 45vh;
  background-color: white;

  }

#rightbody{
margin-left: 60px;
padding-right: 60px;
}

@media only screen and (max-width: 40em) {
#rightbody {margin-left: -12px;
padding-right: 0px;}
}

ul{
  margin-left: 0;
  }

a {
  color:white;
  }

.projectsHeader{
  background-color: #C44D58;
  font-family: "Anne";
  min-height: 40vh;
  margin-left: -4pt;
  padding-right: 40pt;
}