/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require _font-awesome
 *= require foundation_and_overrides

 */
@font-face {
  font-family: "Nick";
  src: url('/assets/nick.otf') format("truetype");
}
@font-face {
  font-family: "Anne";
  src: url('/assets/anders.ttf') format("truetype");
}
@font-face {
  font-family: "Stream";
  src: url('/assets/stream.ttf') format("truetype");
}
@font-face {
  font-family: "Chelsea";
  src: url('/assets/chelsea.ttf') format("truetype");
}
body{
  color: white;
  background: linear-gradient(120deg, #53DAD0, #4ECDC4);
  background-position: fixed !important;
}

#rightbody{
  -webkit-animation: fadein 2000ms ease-out;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}



#homeHead{
  font-family: "Stream";
  font-size: 20pt;
  color: #000000;
}

#homeName{
  font-family: Anne;
  font-size: 50pt;
}

#nee{
  letter-spacing: 8px;
}

#sidediv{
  min-height: 100vh;
  background-color: white;
  max-width: 70px;
  min-width: 70px;
  position: fixed;
  overflow: hidden;
  border-right: 5pt white;
}

a {
  color:#95a5a6 !important;
  font-family: "Anne";
  font-size: 2vw;
  font-weight: 900;
}

#sidelinks1{
  word-wrap: break-word;
  width: 1pt;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 70px;
  min-height: 10vh;
  background-color: white;
  margin-top: 10px;
  padding-bottom: 12%;
  }

#sidelinks2{
  word-wrap: break-word;
  width: 1pt;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 70px;
  min-height: 45vh;
  background-color: white;
  }

#sidelinks3{
  word-wrap: break-word;
  width: 1pt;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 70px;
  min-height: 45vh;
  background-color: white;
  }

#rightbody{
  margin-left: 60px;
  padding-right: 60px;
}

@media only screen and (max-width: 40em) {
#rightbody {margin-left: -12px;
padding-right: 0px;}
}

#smallX{
  background-color: white;
}

ul{
  margin-left: 0;
  }

#projectsHeader{
  font-family: "Anne";
  font-size: 34pt;
  min-height: 25vh;
  margin-left: -4pt;
  padding-top: 5vh;
  width: 105%;
  overflow: visible;
}

#lotifymetext{
  padding-left: 3vw;
  padding-right: 10px !important;
  overflow: scroll;
  font-family: "Lexicon" !important;
}

h3{
  font-family: "Anne";
  font-weight: bold;
  color: #4C4C4C;
}

#lotifymetext a {
  font-family: "Georgia" !important;
  color: white !important;
  font-size: 16pt;
}

#tools{
  color: #4C4C4C !important;
  font-size: 12pt !important;
  font-weight: bold;
}

#lotifyrow{
  padding-bottom: 4vh;
}

#contactHeader{
  text-align: center;
  font-family: "Anne";
  font-size: 34pt;
  min-height: 25vh;
  margin-left: -4pt;
  padding-top: 5vh;
  width: 105%;
  overflow: visible;
}
.messageBox{
  width: auto !important;
  height: auto !important;
}

.contactIcons a{
  color:#fff;
  background: #DB6E82;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

.contactIcons a:hover {
  background: #ef92a3;
}

#contactsText {
  font-family: "Stream";
  color: black !important;
  font-size: 20pt;
}

#contactLinks{
  text-align: center;
  letter-spacing: 4vw;
  padding-bottom: 15vh;
  padding-top: 2vh;
}

#smallX{
  font-size: 20px;
}

#smallNavBar{
  background-color: black;
  color: black;
  text-align: center;
  background-position: fixed;
}

#navLinks a{
  padding-right: 0 !important;
  font-size: 13pt !important;
  text-align: center;
  color: white !important;
}

#errorPage{
  font-size: 15pt;
}